
body {
  background-color: black;
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.logo {
  width: 100px;
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .logo {
    max-width: 40%;
  }
}


h1 {
  font-size: 2rem;
  color: #ff69b4;
  text-shadow: 1px 1px 2px black;
}

table {
  width: 95%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ff69b4;
  padding: 10px;
  font-size: 0.9rem;
}

th {
  background-color: #1a1a1a;
  color: #ffb6c1;
}

td {
  background-color: #000;
}

button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ff1493;
}

input, select {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .logo {
    max-width: 40%;
    margin: 0 auto 20px auto;
  }

  table, th, td {
    font-size: 0.8rem;
  }

  input, select, button {
    width: 90%;
    margin: 5px auto;
    display: block;
  }
}
